[Unit]
Description=Vehicle Communication Manager
After=syslog.target

[Service]
WorkingDirectory=/home/pi/vehicle/commManager	
SyslogIdentifier=CommunicationManager_Vehicle
ExecStart=/bin/bash -c "java -jar /home/pi/vehicle/commManager/CommManager.jar"
User=pi
Type=simple


[Install]
WantedBy=multi-user.target

