[Unit]
Description=RFID_Sensor_Reader
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=vehicle/Sensors/AltIMU-10
ExecStart=/bin/sh -c 'cd /home/pi/vehicle/Sensors/RFID_Sensor && source Scripts/activate && python MFRC522-python/RFID.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target

