[Unit]
Description=RFID_Sensor_Reader
After=network.target

[Service]
Type=simple
User=user
WorkingDirectory=vehicle/Sensors/AltIMU-10
ExecStart=/bin/sh -c 'cd /home/pi/vehicle/Sensors/AltIMU-10 && source Scripts/activate && python python-AltIMU-10v5/AltIMU-10.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target

